@import "../common/styles/sass/variables.scss";

//.nav {
//  /*border: 1px solid red;*/
//  width: 300px;
//  display: flex;
//
//  justify-content: space-between;
//  align-items: center;
//  font-family: 'Poppins', sans-serif;
//  padding-right: 70px;
//  /*font-family:  'Josefin Sans', sans-serif;*/
//
//}
//
//.nav .link {
//  color: $primaryColor;
//  will-change: transform;
//  transform: perspective(1000px) rotateX(20deg) rotateY(20deg) scale3d(1.1, 1.1, 1.1);
//  transition: all 0.8s;
//  z-index: 1;
//
//}


//*, *:before, *:after {
//  box-sizing: border-box;
//  margin: 0;
//  padding: 0;
//}
//
//html, body {
//    height: 100%;
//}


//position: absolute;
//top: 50%;
//left: 50%;
//transform: translate(-50%, -50%);






.navBlock  {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;

  // position: sticky;
  //top: 0px;
}


@media screen and (max-width: 320px) {
  .navBlock {
    flex-wrap: nowrap;

  }
}

//.nav {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  width: 500px;
//  min-height: 50px;
//  flex-wrap: wrap;
//  box-shadow: -2px 0 15px rgba(0, 0, 0, 0.4);
//  border-radius: 5px;
//  background: #252527;
//  //position: fixed;
//  position: sticky;
//  top: 0;


  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    min-height: 50px;
    flex-wrap: wrap;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 40%);
    border-radius: 5px;
    background: #252527;

    //position: fixed;
    //position: sticky;







  .active{
    color: #B595D7;
  }


  .link {
    margin: 0 4px;


    cursor: pointer;
    transition: all 450ms ease;


      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 1.2;
      color: #fff;
      font-weight: 700;
      //position: relative;
      padding: 10px 16px;

      &::before {
        content: '';
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%) scaleX(0);
        height: 4px;
        //height: 2px;
        width: 100%;
        background: linear-gradient(to right, #B0C7E2FF 0%, #83afe1 0%, #78a5d8 21%, #83AFE1FF 52%, #78A5D8FF 78%, #4e93e6 100%);
        transform-origin: right;
        transition: transform 500ms ease;
      }

      &:hover::before {
        transform: translateY(200%) scaleX(1);
        transform-origin: left;
      }

  }

  &:hover .link {
    filter: blur(1px);
    // transform: scale(.98);
    opacity: 0.5;
  }

  &:hover .link:hover {
    filter: blur(0);
    // transform: scale(1);
    opacity: 1;

  }


}








//.navBlock {
//  width: 500px;
//  height: 100px;
//  display: flex;
//  justify-content: flex-end;
//  align-items: center;
//  padding-right: 80px;
//  flex-wrap: wrap;
//  border: 1px solid;
//
//
//}
//
//.nav {
//  display: flex;
//  width: 100%;
//  height: 50px;
//  justify-content: center;
//  align-items: center;
//  background: #252527;
//  box-shadow: -2px 0 15px rgba(0, 0, 0, 0.4);
//  border-radius: 5px;
//
//
//
//
//  .link {
//
//    margin: 0 4px;
//    cursor: pointer;
//    transition: all 450ms ease;
//
//    .text {
//      text-decoration: none;
//      text-transform: uppercase;
//      font-family: 'Josefin Sans', sans-serif;
//      font-size: 16px;
//      letter-spacing: 1px;
//      line-height: 1.2;
//      color: #fff;
//      font-weight: 700;
//      position: relative;
//      padding: 10px 16px;
//
//      &::before {
//        content: '';
//        position: absolute;
//        left: 0px;
//        top: 45%;
//        transform: translateY(-50%) scaleX(0);
//        height: 4px;
//        //height: 2px;
//        width: 100%;
//        background: linear-gradient(to right, #B0C7E2FF 0%, #83afe1 0%, #78a5d8 21%, #83AFE1FF 52%, #78A5D8FF 78%, #4e93e6 100%);
//        transform-origin: right;
//        transition: transform 500ms ease;
//      }
//
//      &:hover::before {
//        transform: translateY(-50%) scaleX(1);
//        transform-origin: left;
//      }
//    }
//  }
//
//  &:hover .link {
//    filter: blur(1px);
//    // transform: scale(.98);
//    opacity: 0.5;
//  }
//
//  &:hover .link:hover {
//    filter: blur(0);
//    // transform: scale(1);
//    opacity: 1;
//
//  }
//
//
//}
//
//























//.support{
//  position: absolute;
//  right: 10px;
//  bottom: 10px;
//  padding: 10px;
//  display: flex;
//}
//a{
//  margin: 0 10px;
//  color: #fff;
//  font-size: 1.5rem;
//  transition: all 400ms ease;
//}
//
//a:hover{
//  color: #222;
//}


