@import "./variables";


@mixin text ( $fontFamily, $fontSize, $lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;

}


@mixin aboutMe ($fontFamily, $fontSize, $lineHeight, $letterSpacing, $fontStretch, $textColor) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
  letter-spacing: $letterSpacing;
  font-stretch: $fontStretch;
}
