$textColor: #fff;
$primaryColor: #4e93e6;
$bgColor: #1f1f20;
$bgSecondColor: #252527;
$bgThirdColor: #545454;
$descTextColor:#d7d7d7;

$titleFontFamily: 'Josefin Sans', sans-serif;
$textFontFamily: 'Poppins', sans-serif;



//#212529




